<mat-accordion multi="true" *ngIf= "posts.length>0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{post.title}} </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <button
    mat-stroked-button
      color="accent"
      type="submit"
      (click)="onDeletePost(post._id)"
    >Delete
    </button>
    <button
    mat-stroked-button
      color="accent"
      type="submit"
      (click)="onEditPost(post._id)"
    >Edit
    </button>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]='totalPosts' [pageSize]='postsPerPage' [pageSizeOptions]='pageSizeOptions' (page)='onPageChange($event)'></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length === 0">No posts yet!!</p>
